/*.titulo-proyectos {
    text-align: center;
    margin: 1rem;
    text-transform: uppercase;

}*/

.proyectos{
    h2{
        text-align: center;
        margin: 10vh 0;
		font-size: 65px;
    	font-weight: 700;
		padding: 2rem;
		text-transform: uppercase;
		color: #000000;
    }
    .row{
        justify-content: center;
		width: 100%;
    }

}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    border: rgb(255, 187, 0) solid 10px;
}

.card-title{
    border-radius: 2px;
    border: rgba(255, 255, 0, 0.541) solid 2px;
	position: relative;
	display: block;
	padding: 25px 10px;
	text-align: center;
	font-weight: bold;
	max-width: 320px;
	height: 65px;
	overflow: hidden;
	color:rgba(255,255,255,1);
	cursor: pointer;
	letter-spacing: 4px;
	box-shadow:inset 0 0 1 5px rgba(174, 146, 146, 0.647);
	text-decoration: none;
	transition: all ease 0.5s;
	background:#10B87B;
}
 
.card-title:after,
.card-title:before{
	width: 70px;
	height: 200px;
	content: '';
	display: block;
	background: rgba(255, 187, 0, 0.264);
	transform: rotate(60deg);
	top: -60px;
	position: absolute;
	transition: none;
	right: -60px;
	cursor: pointer;
}
 
 
.card-title:hover{
	text-shadow: 0 1px 1px rgba(0,0,0,0.5);
	background: rgb(255, 187, 0);
    color: #000000;
}
 
.card-title:hover:after,
.card-title:hover:before{
	transform: rotate(45deg), scaleX(130%);
	background: rgba(255, 255, 0, 0.13);
	transition: all ease 0.5s;
}
 
a.card-title:hover:after{
	right: 75%;
}
 
.card-title:hover:before{
	left: 55%;
}


























/*hacer los 3 q faltan*/


.card-body {
    /* width: 27%; SEBA como hago para darle un tamaño al FONDO???*/
    width: 180px;
    text-align: center;

}

.card-title {
    background-color: #0f0b0b;
    color: white;
    border-radius: 0.5rem;
    padding: 1rem;
}