
/* MAPA */

$redes:(
    iconoFacebook: #3b5998,
    iconoInstagram: #75143c,
    iconoTwitter: #00acee,
    );

@each $clave, $valor in $redes {
    .red-sociales-#{$clave} {
        color: $valor;
    }

}

/* EXTENDS */

.btnBase {
    color: #070909;
    font-size: 16px;
    font-weight: 700;
    padding: 5px 6px;
    border-radius: 7px;
    text-align: center;
    display: block;
    width: max-content; /*se aplica al contenido del boton*/
}

.home .seccion-bienvenida .btn-contacto {
    /*boton del inicio 1 the builder...*/
    background-color: rgb(255, 187, 0);
    margin-top: 2rem;
    margin: auto;
    transition: transform 1s;
    @extend .btnBase;
    font-size: 14px;
}

.btnEnviar {
    @extend .btnBase;
}

/* MIXIN */


@mixin background-seccion($bk) {
    padding: 32px 0;
    width: 100%;
    background-color: $bk;
    background-size: cover;
}

.como-trabajamos .grid {
    @include background-seccion(#616161);
}